body{
    background-color: rgb(24, 24, 24);
    margin: 25px;
    font-family: Helvetica, sans-serif;
}

p{
    color: white;   
}

h1, h2, h3, h4{
    color: white;   
}

.mapIcon{
    width: 30px;
    margin-top: 5px;
    display: inline-block;
}

.mapsButtonText{
    display: inline-block;
    transform: translate(0px, -5px);
    font-weight: bold;;
}

.mapsButton{
    color: white;
    height: 40px;
    width: 200px;
    /* border: 1px solid #aaa; */
    border-radius: 30px;
    border-color: color;
    border-style: solid;
    display: inline-block;
    margin: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.mainDesc{
    max-width: 90%;
    font-size: 18px;
}

.logo{
    max-width: 50%;
    text-align: center;
    filter: invert(1);
}

.pageslogo{
    max-width: 25%;
    filter: invert(1);
    display: block;
    margin: 0 auto;
}

#rectangleContainer {
    margin-top: 30px;
    /* display: flex; */
    justify-content: center; /* Align items horizontally to the center */
    align-items: center; /* Align items vertically to the center */
    /* width: 100%; Set container height to full viewport height */
}

.rectangle{
    width: 71px;
    height: 71px;
    background-color: rgb(220, 220, 220);
    /* border: 1px solid #aaa; */
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 71px;
}

.rectangle:hover{
    background-color: rgb(255, 111, 111)
}

.rectangleText{
    color: red;
}

.backHomeText{
    color: rgb(255, 255, 255);
    text-align: center;
    /* line-height: 30px; */
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    margin-top: 13px;
    color: black;
}

.backHome:hover{
    font-style: normal;
}

.backHome{
    margin-top: 20px;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    margin-bottom: 40px;
    border-radius: 30px;
    border-color: color;
    border-style: solid;
    /* color: white; */
    background-color: rgb(233, 219, 198);
}



.artistInfo{
    margin-top: 30px;
}

.mapImages{
    width: 100%;
    max-width: 500px;
}

/* Expandable images for maps.html */
.image-container {
  width: fit-content; /* Adjusts container size based on image size */
}

.mapImages{
    margin-bottom: 30px;
}
